<h1 class="action">Latest post</h1>
<div class="hidden" id="markdown-source"><%= @posts %></div>
<div id="rendered-posts"></div>

<script src="<%= static_path(@conn, "/js/index_markdown.js") %>"></script>
