<h1 class="action">Show post</h1>
<div class="article">
  <div class="hidden" id="markdown-source"><%= @post %></div>
  <article id="rendered-post" class="markdown-target type-system-serif">
  </article>
</div>

<script src="<%= static_path(@conn, "/js/show_markdown.js") %>"></script>
