@import "bourbon/app/assets/stylesheets/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";

$base-spacing: 1.5em !default;
$alerts: (
  "warning": #fff6bf,
  "error": #fbe3e4,
  "info": #e5edf8,
  "success": #e6efc2,
) !default;

@each $alert-type, $color in $alerts {
  .alert-#{$alert-type} {
    background-color: $color;
    color: shade($color, 60%);
    display: block;
    margin-bottom: $base-spacing / 2;
    padding: $base-spacing / 2;
    text-align: center;

    a {
      color: shade($color, 70%);
      text-decoration: underline;

      &:focus,
      &:hover {
        color: shade($color, 90%);
      }
    }
  }
}