@import "bourbon/app/assets/stylesheets/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";

.btn {
  background-color: #fff;
  padding: .6em 1.1em;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
  border-color: #ccc;
  color: #000;
  text-decoration: none;
  font-size: 1.05em;
}

.primary-action {
  @extend .btn;
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #000;
}

.danger-action {
  @extend .btn;
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #000;
}