@import "bourbon/app/assets/stylesheets/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";

form {
  $sans-serif: 'Merriweather Sans', sans-serif;
  font-family: $sans-serif;

  p {
    label, input, textarea {
      padding: 0.5em;
      margin: 0.5em;
    }

    label {
      text-align: right;
      font-size: 1.2em;
    }

    input, textarea {
      flex-grow: 1;
      width: 100%;
      border: 1px solid #ccc;
      background-color: white;
    }

    input {
      height: 3em;
      font-size: 1em;
    }

    input:active, textarea:active,
    input:focus, textarea:focus {
                   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                   border-color: #66afe9;
                 }

    textarea {
      height: 20em;
      font-size: 1.2em;
    }
  }
}

form.inline-form {
  display: inline-block;
}