@import "bourbon/app/assets/stylesheets/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";

div.container {
  $preview-title-height: 1em !default;
  display: flex;

  form {
    width: 100%;
    margin: 2em;
    padding-top: $preview-title-height;
  }
  .preview {
    width: 100%;
    margin: 2em;
  }
  h2.title {
    height: $preview-title-height;
    margin: 0;
  }
}