@import "bourbon/app/assets/stylesheets/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";

$max-width: em(1500) !global;

body {
    margin: 0;
}

div.outer-container {
    @include outer-container;
}