@import "bourbon/app/assets/stylesheets/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";

article.type-system-serif {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $base-font-color: $dark-gray !default;
  $serif: 'Lusitana', serif;
  $serif-2: 'Merriweather', serif;
  $sans-serif: 'Merriweather Sans', sans-serif;

  @include clearfix;
  font-family: $serif-2;
  text-align: justify;

  h1, h2, h3, p {
    margin: 0;
  }

  h1 {
    color: #2C2C2C;
  }

  h2, h3 {
    color: #656565;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-family: $serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  h1 {
    font-family: $serif;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif-2;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 0.9em;

    @include media($medium-screen) {
      font-size: 1.8em;
    }
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif-2;
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 0.3em;
  }

  p {
    font-family: $serif-2;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 1.5em;
  }

  hr {
    width: 3em;
  }
}

.side-img {
  float: left;
  margin: 0 1em;
}

h1.action {
  $medium-screen: 40em !default;
  $serif: 'Lusitana', serif;
  font-family: $serif;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0;

  @include media($medium-screen) {
    font-size: 3.4em;
  }
}

a.read-more {
  $serif: 'Lusitana', serif;
  $sans-serif: 'Merriweather Sans', sans-serif;

  display: inline-block;
  font-family: $sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;

  span {
    font-family: $serif;
    font-size: 1.5em;
    font-style: normal;
    position: absolute;
    right: -12px;
    top: -1px;
  }
}
