<h1 class="action">Edit post</h1>
<h3>Author: <%= @post.author.username %></h3>
<div class="container">

  <%= render "form.html", changeset: @changeset, conn: @conn,
        action: admin_post_path(@conn, :update, @post) %>
</div>
<%= link "Back to the list of posts", to: admin_post_path(@conn, :index) %>
