<%= form_for @changeset, @action, fn f -> %>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
<% end %>

<p>
  <%= label f, :title %>
  <%= text_input f, :title %>
  <%= error_tag f, :title %>
</p>

<p>
  <div id="blog-content-hidden" class="hidden"> <%= @changeset.data.content %></div>
  <div id="blog-content">
  </div>
  <button name="post[publish_now]" value="true" type="submit" class="btn primary-action">Publish post</button>
  <button name="post[publish_now]" value="false" type="submit" class="btn secondary-action">Draft post</button>

</p>
<% end %>

<script src="<%= static_path(@conn, "/js/form_markdown.js") %>"></script>
