<h1 class="action">Latest post</h1>
<%= link "Add new post", to: admin_post_path(@conn, :new), class: "btn" %>

<%= for post <- @posts do %>
  <hr />
  <div class="article">
    <div class="action-bar">
      <%= link "Show", to: admin_post_path(@conn, :show, post) %>
      <%= link "Edit", to: admin_post_path(@conn, :edit, post) %>
      <%= link "Delete", to: admin_post_path(@conn, :delete, post), method: :delete, form: [class: "inline-form"], data: [confirm: "Are you sure you want to delete this post?"] %>
      <label>State:</label>
      <%= if published?(post) do %>
      <span class="state published">Published</span>
      <%= else %>
      <span class="state draft">Draft</span>
      <%= end %>
    </div>
    <h2 class="title"><%= post.title %></h2>
    <h3>Author: <%= post.author.username %></h3>
    <p class="date"><%= post.published_on %></p>
    <div class="hidden markdown-source"><%= post.content %></div>
    <article id="" class="markdown-target type-system-serif">
    </article>
  </div>
<% end %>
