<h1 class="action">Show post</h1>
<div class="action-bar">
  <%= link "Edit", to: admin_post_path(@conn, :edit, @post) %>
  <%= link "Delete", to: admin_post_path(@conn, :delete, @post) %>
  <label>State:</label>
  <%= if published?(@post) do %>
  <span class="state published">Published</span>
  <%= else %>
  <span class="state draft">Draft</span>
  <%= end %>
</div>
<div class="article">
  <div id="blog-content-hidden" class="markdown-source hidden"><%= @post.content %></div>
  <h2 class="title"><%= @post.title %></h2>
  <h3>Author: <%= @post.author.username %></h3>
  <article class="markdown-target type-system-serif" id="blog-content">
  </article>
</div>
<%= link "Back to the list of posts", to: admin_post_path(@conn, :index) %>

<script src="<%= static_path(@conn, "/js/show_markdown.js") %>"></script>
