<div class="article">

  <!-- Careful about indentation here -->
  <div class="hidden" id="markdown-source">
# What is Blogie

Blogie is a blog engine written in [elixir](http://elixir-lang.org/)
using the [phoenix framework](http://www.phoenixframework.org/). It is published under the [MIT licence](ttps://gitlab.com/stackshuttle/blogie/blob/master/LICENSE).

Blog posts are written in [MarkDown](https://en.wikipedia.org/wiki/Markdown).

## Community

* Join us on Slack: [http://ssoss-slack-invite.herokuapp.com/](http://ssoss-slack-invite.herokuapp.com/)
* List of issues: [https://gitlab.com/stackshuttle/blogie/issues](https://gitlab.com/stackshuttle/blogie/issues)
* Fork this repo: [https://gitlab.com/stackshuttle/blogie/forks/new](https://gitlab.com/stackshuttle/blogie/forks/new)
  </div>
  <div id="rendered-about"></div>
</div>

<script src="<%= static_path(@conn, "/js/about_markdown.js") %>"></script>
